<head>
	<title>Contacts</title>
</head>
<BODY>
<CENTER>
<TABLE BORDER=0 width=100% height=100%>
<TR><TD valign="center" align="center">
	<FONT size="+1">Pour nous contacter, vous pouvez nous joindre par :</FONT><br>
	<br>
	<B>eMail :</B> <a href="mailto:lapagaiedugat@free.fr">lapagaiedugat@free.fr</a><br>
	<br>
	<B>Tel&eacute;phone :</B> 05 56 67 06 80<br>
	<br>
	<B>Voie postale :</B><br>
	<a href="http://www.mappy.com/PlanPerso/gammanu/0">
	La Pagaie du Gat<br>
	29 rue du vieux port<br>
	33640 Castres-Gironde</a><br>
	<br>
	<br>
	<FONT size="+1">Pour joindre le WebMaster :</FONT><br>
	Millicent BILLETTE ( pseudo : Gamma Nu )<br>
	<br>
	<B>Mon eMail :</B> <a href="mailto:gammanu@free.fr?subject=La Pagaie du Gat">gammanu@free.fr</a>
</TD></TR>
</TABLE>
</CENTER>
</BODY>
