  <TITLE>Titre</TITLE>
<body>
	<center>
	<table BORDER=0 width=100% height=50 cellspacing=0>
		<tr>
			<td valign=TOP width=16%>
				<center>
				<a href="accueil.html" target="main"><img src="../image/mini_logo.jpg" border=0></a>
				</center>
			</td>
			<td background="../image/fondu_200_to_255.jpg" width="67"></td>
			<td valign=center bgcolor="#c7c7c7">
				<center>
				<font size=+1>La Pagaie du Gat</font><br>
				Cano&euml; et Kayak en Gironde
				</center>
			</td>
			<td background="../image/fondu_255_to_200.jpg" width="67"></td>
		</tr>
	</table>
	</center>
</body>
